@model IEnumerable<MiniPriceCalculator.Domain.Entities.Product>

@{
    ViewBag.Title = "Admin: Order Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel-heading">
    <h3>Order Management</h3>
</div>

<div class="panel-body">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#order">Pending Order</a></li>
            <li><a data-toggle="tab" href="#done">Completed Orders</a></li>
            <li><a data-toggle="tab" href="#statistics">Statistics</a></li>
        </ul>

        <div class="tab-content">
            <div id="order" class="tab-pane fade in active">
                Placeholder text until Order table can be created
            </div>
            <div id="done" class="tab-pane fade">
                Placeholder text until Order table can be created
            </div>
            <div id="statistics" class="tab-pane fade">
                Placeholder for neat statistics models
            </div>
        </div>
    </div>
    
</div>
